/* GRID  */
.grid-container {
  width:80%;
  height: auto;
  margin: 5rem 0 5rem 0 ;
}

.image {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
 
}


/* CARDS */
.container-cards {
  border:none;
  width:100%;
  height: auto;
  margin: 5rem 0 5rem 0 ;
  
}
.cards {
 border:2px solid grey;
 padding: 1.5rem;
 margin: 5px;
 cursor: pointer;
}


/* .card-text {
  padding-top: 2rem;;
  font-size: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
} */

.image {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
}

.card-body {
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  cursor: pointer;
}


.card-text {
  padding-top: 2rem;;
  font-size: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.picture-card {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
} */

/* CAROUSEL */
.container-home {
  width:100%;
}

.btn {
  align-self: center;
}